$my_thoughts_section_color:#EEEEEE;
$my_thoughts_section_height:600px;
$description_color:#555555;
$description_size:15px;
$subtitle_color:#333;


@media screen and (max-width:750px) {
    .Content_Block {
        max-width: 80vw !important;
        margin:0px 10vw 0px 10vw !important;
        .content_blocks {
            display:flex;
            flex-wrap:wrap;
        }
        .info_section {
            order:2;
            width:80vw !important;

            .description {
                max-width:80vw !important;
            }
        }

        .content_block_image{
            flex:1;
            width:80vw !important;
            height:80vw !important;
            border-radius:30px;
        }
    }
}


.FoodForThought {
    box-sizing: border-box;
    background-color: $my_thoughts_section_color;
    padding-bottom:80px;

    .content_blocks{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin:0px 10vw 0px 14vw;
        max-width:100%;
        max-height:800px;

        .image-container{
            padding:10px;
            height:auto;
            width:auto;
            img{
                max-width:300px;
                max-height:auto;
            }
        }
    }
}