@media screen and (max-width: 750px) {
  .Content_Block {
    max-width: 80vw !important;
    margin: 0px 10vw 0px 10vw !important; }
    .Content_Block .content_blocks {
      display: flex;
      flex-wrap: wrap; }
    .Content_Block .info_section {
      order: 2;
      width: 80vw !important; }
      .Content_Block .info_section .description {
        max-width: 80vw !important; }
    .Content_Block .content_block_image {
      flex: 1;
      width: 80vw !important;
      height: 80vw !important;
      border-radius: 30px; } }

.FoodForThought {
  box-sizing: border-box;
  background-color: #EEEEEE;
  padding-bottom: 80px; }
  .FoodForThought .content_blocks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 10vw 0px 14vw;
    max-width: 100%;
    max-height: 800px; }
    .FoodForThought .content_blocks .image-container {
      padding: 10px;
      height: auto;
      width: auto; }
      .FoodForThought .content_blocks .image-container img {
        max-width: 300px;
        max-height: auto; }
